<div class="flex bg-background">
    <h1 class="text-heading text-2xl pt-12 pl-12 flex">
        ether explorer
    </h1>
    <nav class="flex px-12 pt-4">
        <ul class="flex justify-center">
            <li class="nav-tab-item">
                <a [routerLink]="[ '/address-balance' ]" 
                    routerLinkActive="active-tab"
                    class="nav-tab-link">
                    ETH Balance
                </a>
            </li>
            <li class="nav-tab-item">
                <a [routerLink]="[ '/token-info' ]" 
                    routerLinkActive="active-tab"
                    class="nav-tab-link">
                    Token Info
                </a>
            </li>
            <li class="nav-tab-item">
                <a [routerLink]="[ '/token-balance' ]" 
                    routerLinkActive="active-tab"
                    class="nav-tab-link">
                    Token Balance
                </a>
            </li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>